
body {
    background-color: #ffe8f3;
}
.partone h1{
	text-align: center;
	font-size:50px;
	color:#AFAFAF;
}
IMG.fixpic{
	display:block;
	width:600px;
	height:550px;
	margin-left: auto;
    margin-right: auto;
}
.bio h2{
	text-align:center;
	color:#AFAFAF;
}
.hobbies h2{
	text-align:center;
	color:#AFAFAF;
}
.contact hw{
	text-align:center;
	color:#AFAFAF;
}
p{
	text-align:center;
	color:#D7D7D7;
}