
body {
    background-color: #ffe8f3;
}
.partone h1{
	text-align: center;
	font-size:50px;
}
.partone p{
	font-size:25px;
}
IMG.fixpic{
	display:block;
	width:600px;
	height:550px;
	margin-left: auto;
    margin-right: auto;
}